@model  PA_PROYECTO_FINAL.Models.ProyFinalEntities


<div id="carrito-icon">
    <a href="@Url.Action("AgregarCarrito", "_Carrito")">
        <i class="fa fa-shopping-cart"></i> Carrito (@Model)
    </a>
</div>
